body {
    background: rgb(167, 161, 161);
    font-family: Arial;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
    border: 8px solid #eee;
  }
  
  .title {
    background: #99d6ff;
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
  }
  
  .content {
    background: #99d6ff;
    margin: 8px;
    padding: 16px 8px;
    

  }
  
  .button-container {
    background: #99d6ff;
    text-align: center;
    align-items: center;
    margin: 8px;
    padding: 8px; 
    
  }
  
  button {
    background: white;
    border: 1px solid #99d6ff;
    padding: 8px 24px;
    display: block;
    margin: 0 auto;
  }